doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/chat2x.css')
    link(rel='stylesheet' href='/plugins/rollbar/css/jquery.rollbar.css')
  body
    block content

    script(src='/javascripts/jQuery-2.1.4.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/plugins/rollbar/js/jquery.easing.1.3.js')
    script(src='/plugins/rollbar/js/jquery.mousewheel.js')
    script(src='/plugins/rollbar/js/jquery.rollbar.min.js')
    script(src='/javascripts/send.js')
    //script(src='/javascripts/rollbar.js')
