//
   Created by hevlhayt@foxmail.com 
   on 2016/8/24.

extends basic

block content
  nav.navbar.navbar-default.navbar-fixed-top
    .container
      .row.box-message
        .col-md-6.col-md-offset-3.text-center
            .box-message-inner
              textarea(v-model='message', v-on:keydown.enter.prevent='send')
              //| <button v-on:click="send">POST!</div>
              button(v-on:click="send")= 'POST!'

  .container.box-chat
    .row
      .col-md-8.col-md-offset-2.box-talks
        template(v-for='item in items')
          template(v-if=' item.t.indexOf("sys") != -1 ')
            template(v-if=' item.t === "sysin" ')
              .msg-system= '►► {{ item.name }} さんが入室しました'
            template(v-else)
              .msg-system= '►► {{ item.name }} さんが退室しました'
          template(v-else)
            .msg-default
              .msg-user.text-center
                .img-avatar(v-bind:style="{ background: item.avatar, backgroundSize: '55px 55px' }")
                = '{{ item.name }}'
              .msg-bubble.bounce(v-bind:style="{ \
                  background: item.background, color: item.color \
                }")= '{{ item.msg }}'



