//
   Created by hevlhayt@foxmail.com 
   on 2016/8/24.

extends basic

block content
  nav.navbar.navbar-default.navbar-fixed-top
    .container
      .row.box-message
        .col-md-6.col-md-offset-3.text-center
            .box-message-inner
              textarea(v-model='message', v-on:keydown.enter.prevent='send')
              button(v-on:click="send")= 'POST!'

  .container.box-chat
    .row
      .col-md-8.col-md-offset-2.box-talks
        .msg-system= '次元壁修复中...再开PM5:30...'

block script
  script(src='/javascripts/jquery.min.js')
  script(src='/javascripts/bootstrap.min.js')
  script(src='/javascripts/vue.min.js')
  script(src='/javascripts/analytics.js')



